.card.card-wrapper {
    background-color: white;
    width: 250px;
    height: 430px;


    align-items: center;

    display: grid;


    border: 1px solid #ebe9e9;          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;            
    padding: 16px;       
    grid-template-rows: auto auto 1fr auto; 

    .card-content {
        color: black;
        margin-top: 30px;
        margin-bottom: 20px;
        grid-row: 2;
        width: 100%;
    }

    & .card-img-with-plate {
        width: 250px;
        height: 260px;
    }
    & .card-tag-wrapper {
        grid-row: 4;
        width: 250px;
        height: 60px;

        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        & *{
            flex: 0 0 auto;  
        }
    }


    @media only screen and (max-width: 991px) {
        width: 200px;
        height: 400px;

        .card-content {
            margin-top: 40px;
            margin-bottom: 20px;
            grid-row: 2;
            width: 200px;
        }

        & .card-img-with-plate {
            width: 200px;
            height: 220px;
        }
    }

}